#pencarian{
  position:sticky;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:.5rem;
  padding-bottom:.5rem;
  &>input{
    width:37.5dvw;
  }
}
table{
  width:75svw;
  border-collapse: collapse;
  & tr{
    border:1px solid black;
  }
}
tbody tr{
  &:hover{
    cursor:pointer;
    text-shadow: 0 0 2px;
  }
  &:nth-child(2n){
    background-color: rgba(248, 248, 255, .625);
    &:hover{
      background-color: rgba(248, 248, 255,.875);
    }
  }
  &:nth-child(2n+1){
    background-color: rgba(245, 245, 245, .625);
    &:hover{
      background-color: rgba(245, 245, 245,.875);
    }
  }
}